@margin_filter_height: 60px;

body{
    background-color: @colorFive;
    width:100%;
}

.container{
    width:100%;
    padding:0%;
    background-color: @colorFive;
    overflow-y: hidden;

    .main_section{
        padding-top:0%;
        height:100%;
    }

}


