.card{
	margin:2%;
	width:95%;
	p{
		margin-top: 2px;
		margin-bottom: 2px;
	}
	.card-body{
		height:50%;
	}
	.card-image{
		height: 50%;
		img{
			display: block;
		  	width: 100%;
		  	height: auto;
		}
	}

}