#cart_fil_div{
    height:100%;
    display: block;
    position: absolute;
    right:0px;
	bottom: 0px;
	max-height: 60px;
	background-color: @colorFive;

}

#cart_fil,#moreFilterShow{
	padding:1%;
	cursor:pointer;

	.glyphicon{
		bottom:13px;
		font-size:25px;
		margin-left: 6px;
		float:left;
	}

	.badge{
		font-size:11px;
	}
}