#mainFilterCon{
    background-color: fade(darken(@colorOne,40),90);
    color:@colorFive;
    padding:1%;
    padding-left:3%;
    padding-right:3%;
    width: 100%;
    overflow: hidden;
    margin:0px;
    z-index: 1000;
    position:absolute;
    bottom:60px;
    div{
        background-color: transparent;
    }
}

#cloud_image{
	display:none;
}
#cloud_fil{
	cursor:pointer;
}
#cloudFilterContainer{
	padding:3%;
	margin-top: 2%;
}

#dateFilterContainer{
	display: block;
	width: 100%;
	overflow-x: hidden;
	background-color: fade(darken(@colorOne,40),90);
}
#date_fil{
	position: absolute;
	bottom:0px;
	max-height:60px;
	background-color: @colorFive;
}

.filterName{
	margin-bottom: 2%;
	display: block;
}


@import "datefilter";
@import "imagefilter";