#imageDiv{
    padding-bottom: 180px;
    padding-top: 2%;
    overflow-x:hidden;
    background-color: darken(@colorFive,80);
}
#imageCards{
    display: block;
    overflow-y: auto;
    height:100%;
    cursor: pointer;

}
#image_section{
    float:right;
    padding:0px;
}

@import "imageScroll";