#imageFilterContainer{
	padding:1%;
}
.checkbox label{
	color:white;
}

.checkbox input[type="checkbox"]:checked + .checkbox-material .check{
	border-color:white;
	background-color: white;
}

#imageFilterContainer{
	.form-group .checkbox label, .form-group .radio label, .form-group label{
		margin:1%;
	}
}