#image_fil_cart{
	position:relative;
	display:block;
    overflow-y: hidden;
    height:100%;
    cursor: pointer;
    width:100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 10px;

    .ps-scrollbar-y-rail{
    	background-color: fade(darken(@colorFive,50),30);
    }
    .ps-scrollbar-y{
    	background-color: fade(darken(@colorFive,35), 50);
    }
}



#image_fil_cart{
	max-height: 370px;
	padding-bottom:30px;
	.list-group-item{
		background-color: fade(@colorFive,10);
		color:@colorFive;
		max-height:100px;
		border-radius: 0px;
		border:1px solid fade(darken(@colorFive,20),10);

	}

	img{
		width:auto;
		max-height: 50px;
		margin-top:5px;
	}
	a{
		color:@colorFive;
		text-decoration: none;
	}
}

#image_cart_dl_all{
	position:fixed;
	right:40px;
	bottom: 75px;
	background-color: fade(@colorThree,60);
	color: @colorFive
}