#imageDiv{
    padding-bottom: 180px;
    padding-top: 2%;
    overflow-x:hidden;
    overflow-y:hidden;
    background-color: darken(@colorFive,80);
}
#imageCards{
	position:relative;
	display:block;
    overflow-y: auto;
    height:100%;
    cursor: pointer;
    width:100%;
    padding-right: 15px;
}
#image_section{
    float:right;
    padding:0px;
}

@import "imageScroll";