.popup{
	.leaflet-popup-content-wrapper,.leaflet-popup-tip{
		background-color: fade(@colorFour,80%);
		box-shadow: 0 3px 14px fade(@colorFour,40);
		p{
			font-size: 14px;
			margin-top:2px;
			margin-bottom:2px; 
		}
	}
	color:white;
}