extends layout

block content


    div#map_section.col-lg-5.main_section
        #map
    div#image_section.col-lg-7.main_section
        div#imageDiv.col-lg-12.main_section
            div#imagePagination
            div#imageSpinner
                div.sk-wandering-cubes
                    div.sk-cube.sk-cube1
                    div.sk-cube.sk-cube2
            div#imageCards
        div.row#mainFilterCon
            div#cloud_image
                div
                    ul.list-inline
                        li
                            button#filtersBtn.btn.btn-default.filter-tab.filter-tab-active
                                h4 Filters
                        li
                            button#imagecartBtn.btn.btn-default.filter-tab
                                h4 Image Cart 
                                    span.badge.imageCartCount  0 
                    span.glyphicon.glyphicon-remove#filterCloseButton
                #cloud_fil.row
                    div.col-lg-12.filterName
                        h4
                            span.glyphicon.glyphicon-cloud(alt="Define cloud cover range") 
                            span#currentCloudFil 0 - 100%
                            span.checkbox#ccNoData                                    
                                label 
                                    input.ccNoDataFilter(checked="",type="checkbox",name="ccNoData",value="no data",autocomplete="off")
                                    span Include No Data
                    div#cloudFilterContainer.row
                        input#cloud_slide(type="text",name="cloud_slide",value="")
                #image_fil.row
                    div.col-lg-12.filterName
                        h4
                            span.glyphicon.glyphicon-record(alt="Select image source")
                            span#currentImgFil 
                    div#imageFilterContainer.row
                        form.form-horizontal
                            div.form-group#imageFilterForm
                                div.checkbox
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="hpt",autocomplete="off")
                                        span   Diwata1 - HPT
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="mfc",autocomplete="off")
                                        span   Diwata1 - MFC
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="wfc",autocomplete="off")
                                        span   Diwata1 - WFC
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="smi",autocomplete="off")
                                        span   Diwata1 - SMI
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="landsat8",autocomplete="off")
                                        span   Landsat8
                #date_fil_container.row
                    div#dateFilterContainer.row
                        h4
                            span.glyphicon.glyphicon-stats(alt="Image Availability")
                            span     Image Availability
                        div#chart
                div#image_fil_cart
                    div#image_fil_cart_list
                        h3#cart_noimage No images in cart.
        div
            div#date_fil.fildiv
                span.glyphicon.glyphicon-calendar(title="Select date range")
                span#currentDateFil --- - ---
            div#cart_fil_div.col-lg-6.fildiv
                    div#filter_icon.col-lg-6
                        span.glyphicon.glyphicon-tasks#moreFilterShow(title="Show Filters")
                    div#cart_fil.col-lg-6( data-toggle="modal", data-target="#imageModal")
                        span.badge.imageCartCount  0 
                        span.glyphicon.glyphicon-shopping-cart#imageShoppingCart(title="Go to Cart")


