extends layout

block content

    //- div#filters.row.container

    div#map_section.col-lg-4.main_section
        div.row.container.filter.fildiv
            h1 DIWATA I
        #map

    div#gallery_section.col-lg-8.main_section
        div.row.container.filter
            #date_fil.col-lg-4.fildiv
                span.glyphicon.glyphicon-calendar
                span#startdate
                span#enddate
            #cloud_fil.col-lg-3.fildiv
                span.glyphicon.glyphicon-cloud
            #sat_fil.col-lg-2.fildiv
                //- span.glyphicon.glyphicon-record
                div.col-lg-12
                    span.label.label-default.labels.labelActive HPT
                    span.label.label-default.labels MFC
                div.col-lg-12
                    span.label.label-default.labels WFC
                    span.label.label-default.labels SMI
            #sensor_fil.col-lg-2.fildiv
                //- span.glyphicon.glyphicon-hdd
                span.label.label-default.labels.labelActive Diwata I
                span.label.label-default.labels Landsat
            #cart_fil.col-lg-1( data-toggle="modal", data-target="#imageModal")
                span.badge#imageCartCount  0 
                span.glyphicon.glyphicon-shopping-cart
        div.row.container.filterContainer

                

    div.modal.fade#imageModal(role="dialog")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type='button', data-dismiss="modal", aria-hidden="true") x
                    h4.modal-title Diwata Image Cart
                div.modal-body#imageCartList
                div.modal-footer
                    button.btn.btn-primary(type='button') Download All

