extends layout

block content

    //- div#filters.row.container

    div#map_section.col-lg-5.main_section
        #map
    div#image_section.col-lg-7.main_section
        div#imageDiv.col-lg-12.main_section
            div#imageCards
        div.row#mainFilterCon
            div#cloud_image
                div.row
                    ul.list-inline
                        li
                            button.btn.btn-default.filter-tab
                                h4 Filters
                        li
                            button.btn.btn-default.filter-tab
                                h4 Image Cart
                    span.glyphicon.glyphicon-remove#filterCloseButton
                #cloud_fil.row
                    div.col-lg-12.filterName
                        h4
                            span.glyphicon.glyphicon-cloud(alt="Define cloud cover range") 
                            span#currentCloudFil 0 - 100%
                    div#cloudFilterContainer.row
                        input#cloud_slide(type="text",name="cloud_slide",value="")
                #image_fil.row
                    div.col-lg-12.filterName
                        h4
                            span.glyphicon.glyphicon-record(alt="Select image source")
                            span#currentImgFil 
                    div#imageFilterContainer.row
                        form.form-horizontal
                            div.form-group#imageFilterForm
                                div.checkbox
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="hpt",autocomplete="off")
                                        span   Diwata1 - HPT
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="mfc",autocomplete="off")
                                        span   Diwata1 - MFC
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="wfc",autocomplete="off")
                                        span   Diwata1 - WFC
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="smi",autocomplete="off")
                                        span   Diwata1 - SMI
                                    label 
                                        input.imageFilter(checked="",type="checkbox",name="imgFilter",value="landsat8",autocomplete="off")
                                        span   Landsat8
            #date_fil_container.row
                div#dateFilterContainer.row
                    div#chart
        div#date_fil.col-lg-6.fildiv
            span.glyphicon.glyphicon-calendar
            span#currentDateFil --- - ---
        div#cart_fil_div.col-lg-6.fildiv
                div#cart_fil.col-lg-6( data-toggle="modal", data-target="#imageModal")
                    span.badge#imageCartCount  0 
                    span.glyphicon.glyphicon-shopping-cart
                div#filter_icon.col-lg-6
                    span.glyphicon.glyphicon-tasks#moreFilterShow

    div.modal.fade#imageModal(role="dialog")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type='button', data-dismiss="modal", aria-hidden="true") x
                    h4.modal-title Diwata Image Cart
                div.modal-body#imageCartList
                div.modal-footer
                    button.btn.btn-primary(type='button',onClick="downloadAllImages()") Download All

