html
  head
    title Diwata Image Gallery
    // Fontface
    
    // Material Design fonts
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    
    // Bootstrap and Bootstrap Material Design
    link(rel='stylesheet', type='text/css', href='bower-components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='bower-components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css')
    link(rel='stylesheet', type='text/css', href='bower-components/bootstrap-material-design/dist/css/ripples.min.css')

    //Perfect Scrollbar
    link(rel='stylesheet', type='text/css', href='bower-components/perfect-scrollbar/css/perfect-scrollbar.min.css')

    // Leaflet
    link(rel='stylesheet', type='text/css', href='bower-components/leaflet/dist/leaflet.css')
    link(rel='stylesheet', type='text/css', href='bower-components/leaflet-areaselect/src/leaflet-areaselect.css')

    //IonRangeSlider
    link(rel='stylesheet', type='text/css', href='bower-components/ion.rangeSlider/css/normalize.css')    
    link(rel='stylesheet', type='text/css', href='bower-components/ion.rangeSlider/css/ion.rangeSlider.css')    
    link(rel='stylesheet', type='text/css', href='bower-components/ion.rangeSlider/css/ion.rangeSlider.skinFlat.css')  

    //Date Range  
    link(rel='stylesheet', type='text/css', href='bower-components/daterange/daterangepicker.css')

    //Spinkit
    //link(rel='stylesheet', type='text/css', href='bower-components/SpinKit/css/spinkit.css')


    //Loading Interface
    link(rel='stylesheet', type='text/css', href='bower-components/please-wait/build/please-wait.css')      

    // Global CSS
    link(rel='stylesheet', type='text/css', href='css/style.css')
    
    // livereload
    script(src='//localhost:35729/livereload.js')
    // endlivereload

  body
    .container
      block content

  // Templates for Mustache.js
  script(id="card-template" type="x-tmpl-mustache").
    {{#cards}}
    <div class="col-lg-12 ticket">
      <div class="col-lg-4 ticket-image">
        <img src="{{image_url}}">
      </div>
      <div class="col-lg-8 ticket-body">
        <h4>{{scene_id}} | {{published}}</h4>
          <a id="zoomtoscene" onclick="zoomToScene({{zoomtoscene}})" class="btn btn-raised btn-info btn-xs">Zoom to Scene<div class="ripple-container"></div></a>
          <a id="imagetocart_{{scene_id}}" onclick="addImageToCart('{{scene_id}}', '{{image_url}}', '{{published}}')" class="btn btn-raised btn-info btn-xs">Add to Cart<div class="ripple-container"></div></a>
          <a href="javascript:void(0)" class="btn btn-raised btn-info btn-xs">Download<div class="ripple-container"></div></a>
          <div class="col-lg-6">
            <p><b>Cloud Cover: </b>{{cloud_cover}}%</p>
            <p><b>Receiving Station: </b>{{receiving_station}}</p>
          </div>
          <div class="col-lg-6">
            <p><b>Satellite: </b>{{sat_id}}</p>
            <p><b>Payload: </b>{{payload}}</p>
          </div>
          
      </div>
    </div>
    {{/cards}}

  // Mustache template for the Image Cart
  script(id="imagecart-template" type="x-tmpl-mustache").
    {{#imageCartEntries}}
      <div class="list-group-item col-lg-12">
        <div class="row-picture col-lg-3">
          <img class="circle" src="{{image_url}}" alt="icon">
          <a class="list-group-item-text" target="_blank" href="{{bundlink}}" download="">Download</a>
        </div>
        <div class="row-content col-lg-9">
          <h4 class="list-group-item-heading imagecart_sceneid">{{scene_id}}
            <span class="glyphicon glyphicon-remove-circle imagecart_close" title="Remove image from cart" onclick="removeImageFromCart('{{scene_id}}', '{{image_url}}', '{{published}}')"></span>
          </h4>
          <h4 class="list-group-item-text">{{published}}</h4>
        </div>
      </div>
    {{/imageCartEntries}}



  // Mustache template for the Image Cart
  script(id="pagination-template" type="x-tmpl-mustache").
    <ul id="ticket_pagination" class="pagination pagination-sm">
      <li class="liPagination" onClick="paginatedExecuteFilters('{{prev_query}}')"><a class="page_chevron"><i class="glyphicon glyphicon-chevron-left"></i></a></li>
      {{#pages}}
        <li class="liPagination" onClick="paginatedExecuteFilters(generateUrlPerPage('{{current_query}}','{{.}}'))">
          <a value='{{.}}'>{{.}}</a>
        </li>
      {{/pages}}
      <li class="liPagination" onClick="paginatedExecuteFilters('{{next_query}}')"><a class="page_chevron"><i class="glyphicon glyphicon-chevron-right"></i></a></li>
    </ul>
    <span id="pageNoPrompt">{{current_page}} of {{no_of_pages}}</span>

  // bower:JS
  script(type='text/javascript', src='bower-components/please-wait/build/please-wait.min.js')
  script(type='text/javascript', src='bower-components/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='bower-components/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript', src='bower-components/moment/min/moment.min.js')

  //script(type='text/javascript', src='js/dateselect.js')

  script(type='text/javascript', src='bower-components/bootstrap-material-design/dist/js/material.min.js')
  script(type='text/javascript', src='bower-components/bootstrap-material-design/dist/js/ripples.min.js')

  script(type='text/javascript', src='bower-components/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js')

  script(type='text/javascript', src='bower-components/leaflet/dist/leaflet.js')
  script(type='text/javascript', src='bower-components/leaflet-areaselect/src/leaflet-areaselect.js')

  script(type='text/javascript', src='bower-components/ion.rangeSlider/js/ion.rangeSlider.min.js')

  script(type='text/javascript', src='bower-components/mustache.js/mustache.min.js')

  // notInBower:JS
  script(type='text/javascript', src='bower-components/daterange/daterangepicker.js')  

  script(type='text/javascript', src='https://cdn.jsdelivr.net/lodash/4.12.0/lodash.min.js')  

  script(type='text/javascript', src='bower-components/d3/d3.min.js')

  
  // MainApp
  script(type='text/javascript', src='js/diwata.min.js')
