html
  head
    title Diwata Image Gallery
    // Fontface
    
    // Material Design fonts
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700', type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    
    // Bootstrap and Bootstrap Material Design
    link(rel='stylesheet', type='text/css', href='bower-components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='bower-components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', type='text/css', href='bower-components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css')
    link(rel='stylesheet', type='text/css', href='bower-components/bootstrap-material-design/dist/css/ripples.min.css')
    
    // Leaflet
    link(rel='stylesheet', type='text/css', href='bower-components/leaflet/dist/leaflet.css')
    link(rel='stylesheet', type='text/css', href='bower-components/leaflet-areaselect/src/leaflet-areaselect.css')
    
    // Datatables
    link(rel='stylesheet', type='text/css', href='bower-components/datatables/media/css/jquery.dataTables.min.css')
    
    // Global CSS
    link(rel='stylesheet', type='text/css', href='css/style.css')
    
    // livereload
    script(src='//localhost:35729/livereload.js')
    // endlivereload

  body
    .container
      block content

  // Templates for Mustache.js
  script(id="card-template" type="x-tmpl-mustache").
    {{#cards}}
    <div class="col-lg-6">
      <div class="card">
            <div class="card-height-indicator">
                <div class="card-content">
                    <div class="card-body">
                        <p>{{sensor}}, {{satellite}}</p>
                    </div>
                    <div class="card-image">
                        <img src="{{image_url}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/cards}}

  // bower:JS
  script(type='text/javascript', src='bower-components/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='bower-components/bootstrap/dist/js/bootstrap.min.js')
  script(type='text/javascript', src='bower-components/moment/min/moment.min.js')

  script(type='text/javascript', src='bower-components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')
  script(type='text/javascript', src='bower-components/bootstrap-material-design/dist/js/material.min.js')
  script(type='text/javascript', src='bower-components/bootstrap-material-design/dist/js/ripples.min.js')
  script(type='text/javascript', src='bower-components/leaflet/dist/leaflet.js')
  script(type='text/javascript', src='bower-components/leaflet-areaselect/src/leaflet-areaselect.js')
  script(type='text/javascript', src='bower-components/datatables/media/js/jquery.dataTables.min.js')
  script(type='text/javascript', src='bower-components/mustache.js/mustache.min.js')
  
  // MainApp
  script(type='text/javascript', src='js/diwata.min.js')
  //- script(type='text/javascript', src='js/main.min.js')
