.container{

	.form-group{
	margin-top: 1%;
	margin-bottom: 1%;
	.form-control{
		background-color: white;
		border-radius: 5px;
		color:@lactating-fraction;
		padding:1%;
		padding-left:2%;
	}
	.control-label{
		margin-bottom: 5px;
	}
	}
	.navbar-brand{
		height:auto;
	}
	.navbar{
		top:20%;
		border-radius:10px;
		margin:1%;
		box-shadow: 1px 1px 1px gray;

		h1{
			color:white;
			}

	}

	#diwata_head{
		position:relative;
		display: inline-block;
		height:inherit;
	}
}